* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  font-weight: 400;
}
.header__container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff0ed;
  height: 5rem;
}
.left__container {
  display: flex;
  align-items: center;
  margin-top: 0;
}
.nav__title {
  font-weight: 300;
  font-size: 3rem;
  opacity: 0.7;
}

.nav__list {
  list-style: none;
  display: flex;
  padding: 0;
}
.nav__item {
  margin-left: 2rem;
  font-size: 1.25rem;
  text-decoration: none;
  list-style: none;
}
nav img {
  width: 3rem;
}
.nav__item a {
  text-decoration: none;
  color: black;
  margin-right: 2rem;

  margin-top: 1.25rem;
  font-weight: 400;
  opacity: 0.7;
}
.nav__item--current a {
  color: #5bacc3;
  text-decoration: none;
  margin-right: 2rem;
  margin-top: 1.25rem;
  font-weight: 400;
  opacity: 0.7;
  font-size: 1.25rem;
}
