h1 {
  color: white;
  font-weight: 300;
  font-size: 3.75em;
  margin-top: 0.8em;
}
.img__container {
  position: relative;
  display: inline-block;
  background-image: url("../assets/image/coffee-circle.jpg");
  height: 43.75rem;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.img__title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  height: 12.5rem;
  width: 18.75rem;
  transform: translate(-50%, -50%);
  background-color: #393939;
  color: white;
  padding: 10px;
}
.img__title::before {
  content: "";
  position: absolute;
  top: -1.25rem;
  left: -1.25rem;
  right: 1.25rem;
  bottom: 1.25rem;
  border: 5px solid #5bacc3;
  z-index: 999;
}

h2 {
  font-weight: 300;
}
h3 {
  font-weight: 300;
  text-align: center;
}
.bg__title {
  font-size: 10rem;
  background-color: white;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

ul.bg-color-hightlight {
  background-color: #393939;
  color: white;
  text-align: center;
  font-size: 1.3em;
  height: 5rem; /*Height:80px*/
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
ul.bg-color-hightlight li {
  list-style-type: none !important;
  display: inline-block;
}
ul.bg-color-hightlight li a {
  color: white !important;
  text-decoration: none !important;
  text-align: center;
  font-size: 1.31rem;
  font-weight: 300;
  margin-right: 1.25rem;
}
.special__content {
  color: #5bacc3;
  margin-right: 1.25rem;
}
#hot-drinks,
#cold-drinks,
#pastries {
  text-align: center;
}
#hot-drinks h2,
#cold-drinks h2,
#pastries h2 {
  font-size: 3.75em;
  font-weight: 300;
  opacity: 0.7;
  margin-top: 0;
  padding-top: 1rem;
}

aside {
  margin-left: auto;
  margin-right: auto;
  /* float: left; */
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  font-style: italic;
  margin-top: -2em;
  margin-bottom: -1em;
  font-size: 1.1rem;
  font-weight: 300;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container h3 {
  font-size: 2em;
  margin-top: -0.1em;
  opacity: 0.7;
  font-weight: 300;
}
.container__content {
  font-size: 1.1em;
  font-weight: 400;
  opacity: 0.7;
}
.container_price {
  text-align: center;
  margin-top: 0.5em;
  color: #5bacc3;
  font-size: 1.1em;
}
/* #hot-drinks,
#pastries {
  background-color: #fff0ed;
}
#cold-drinks {
  background-color: #f7f7f7;
} */
main section:nth-child(odd) {
  background-color: #fff0ed;
}
main section:nth-child(2n) {
  background-color: #f7f7f7;
}
